# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# VS Code
.vscode/

# Operating system
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Python distribution
build/
dist/
*.egg-info/

# Environment variables
.env